.section-heading {
  text-align: center;
  color: white;
}

.project-card {
  background: transparent;
  border: 3px solid #fff;
  border-radius: 5pt;
  text-align: left;
  height: 100%;
}

.project-card h1 {
  color: #fff;
}

.project-card .title:not(:last-child){
  margin-bottom: 0em;
  color: #fff;
}

.project-stack {
  margin-bottom: 1em;
  color: #fff;
  font-style: italic;
}

.project-subpoints {
  color: #fff;
}

